.container {
    background-color: rgb(68, 68, 68);
    display: flex;
    flex-flow: row wrap;
}

.subContainer {
    width: calc(100%/3);
    text-align: center;
    color: white;
    text-shadow: 0px 0px white;
}

.content {
    padding: 4px 0px;
}

.logo {
    width: 200px;
    padding: 30px 0px;
}