.title {
    text-align: center;
    animation-name: slideBottomIn;
    animation-duration: 3s;
}

.semiJump {
    height: 50px;
}

.jump {
    height: 150px;
}

.productContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    animation-name: slideBottomIn;
    animation-duration: 3s;
}

.product {
    position: relative;
    width: 180px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}

.productImage {
    width: 180px;
    height: 120px;
    position: absolute;
    object-fit: contain;
    bottom: 70px;
    transition: transform 0.5s;
}

.textBox {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    font-weight: bold;
    font-size: 12px;
}

.product:hover .productImage {
    transform: scale(1.15);
    transition-duration: 0.5s;
}

.product:hover .textBox {
    background-color: antiquewhite;
}

/* 팝업 오버레이 */

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.popupImage {
    width: 50%;
    height: 400px;
    object-fit: contain;
}

.infoText {
    width: 40%;
    padding: 5%;
}

.shopIcon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.coupangIcon, .naverIcon {
    width: 100px;
    height: 100%;
    object-fit: contain;
    margin: 0px 20px;
}

.titleName {
    font-size: 12px;
}

@keyframes slideBottomIn {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
