.title {
    text-align: center;
    
}

.semiJump {
    height: 50px;
}

.jump {
    height: 150px;
}

.ProductListContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
}

.productText {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
}

/* 제품 1 */
.product1 {
    width: 48%;
    height: 200px;
    background-color: rgb(3, 79, 27);
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
}

.productImage1 {
    width: 200px;
}

.productFont {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

/* 제품 2 */
.product2 {
    width: 48%;
    height: 200px;
    background-color: rgb(189, 54, 62);
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
}

/* 제품 3 */
.product3 {
    width: 48%;
    height: 200px;
    background-color: rgb(230, 220, 177);
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
}

/* 제품 4 */
.product4 {
    width: 48%;
    height: 200px;
    background-color: rgb(206, 172, 92);
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
}