.container {
    overflow: hidden;
}

.headerContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
}

.homeImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    animation: zoomEffect 5s ease-in-out forwards;
}

.subNav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 800px;
    justify-content: space-around;
    background-color: white;
    border: 3px dashed black;
    border-radius: 20px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navContent {
    width: 180px;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    cursor: pointer;
}

.semiJump {
    height: 50px;
}

.jump {
    height: 150px;
}

.active {
    font-weight: bold;
    color: rgb(30, 148, 250)
}


@keyframes zoomEffect {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}