.container {
    display: flex;
    flex-flow: row wrap;
    margin: 5%;
    justify-content: center;
}

.projectBox {
    background-color: #1E1F26;
    border-radius: 20px;
    color: white;
    word-break: break-all;
    padding: 30px;
    width: 300px;
    margin: 30px;
    text-align: center;
}

.projectBox:hover {
    background-color: #444857;
}

.image {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.bigContainer {
    display: flex;
    color: white;
    flex-flow: column wrap;
    text-align: center;
}

.addBtn {
    width: 100px;
    background-color: #1E1F26;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 3px;
}

.addBtn:hover {
    background-color: white;
    color: black;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}